# VHDL .gitignore

# Bak files
*.vhd.bak

# Quartus stuff
*.qpf
*.qsf
*.asm.rpt
*.bak
*.cdf
*.eda.rpt
*.flow
*.flow.rpt
*.ipinfo
*.jdi
*.map.rpt
*.map.summary
*.pin
*.qdf
*.qsf.bak
*.qws
*.rpt
*.sld
*.smsg
*.summary

# Folders
**/db/**
**/hc_output/**
**/incremental_db/**
**/output_files/**
**/simulation/**

# Artur Barichello
